body {
    background-color: lightblue;
}

h1 {
    background-color: black;
}

#NoScope {
    color: green;
}

.btn {
    padding: 10px;
    color: white;
}

.btn-1 { background-color: green; }
.btn-2 { background-color: blue; }
.btn-3 { background-color: purple; }

.slidecontainer {
    width: 100%;
    height: 100px;
}

.slider {
    appearance: none;
    width: 50%;
    height: 10px;
    background: #d3d3d3;
    outline: black;
    opacity: 0.75;
    transition: opacity 10s;
}

.slider:hover {
    opacity: 1;
    cursor: pointer;
    background: #ff0000
}

.slider::-webkit-slider-thumb {
    appearance: none;
    width: 25px;
    height: 150px;
    background: #04AA6D;
}


table, th, td {
    border: 2px solid black;
    background-color: white;
}

#animate {
    width: 150px;
    height: 150px;
    position: absolute;
    background: red;
}